<!--The content below is only a placeholder and can be replaced.-->

<!-- <courses><courses> -->
<!-- Component test:
<favorite [isFavorite]="true"></favorite>
<br/>
Span test:
<span
[class.far]="!isFavorite"
[class.fa-star]="!isFavorite"></span> -->

<!-- <app-panel>
    <ng-container class="heading">New heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</app-panel>
<p>Outside panel</p> -->

<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template> -->

<!-- <div [hidden]="courses.length == 0">List of courses</div>
<div [hidden]="courses.length > 0">No courses yet</div> -->

<!-- <ul class="nav nav-pills">
    <li class="nav-link" [class.active]="viewMode == 'map'">
        <a (click)="viewMode = 'map'">Map view</a>
    </li>
    <li class="nav-link" [class.active]="viewMode == 'list'">
        <a (click)="viewMode = 'list'">List view</a>
    </li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <button (click)="loadCourses()">Load courses</button>
<br/>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses ; index as i; even as isEven; trackBy:trackCourse">
        {{ i }} - {{course.name}} <span *ngIf="isEven">(EVEN)</span>
        <button (click)="onRemove(i)">Remove</button>
    </li>
</ul> -->

<!-- <button
[style.backgroundColor]="canSave ? 'blue' : 'gray'"
[style.color]="canSave ? 'white' : 'black'"
[style.fontWeight]="canSave ? 'bold' : 'normal'"
>
Save
</button>
<br/>
<button
[ngStyle]="{
    'backgroundColor': canSave ? 'blue' : 'gray',
    'color' : canSave ? 'white' : 'black',
    'fontWeight' : canSave ? 'bold' : 'normal'
}">Save</button> -->
<!-- <span>{{data.assignee?.name}}</span> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <contact-form></contact-form> -->
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<navbar></navbar>
<router-outlet></router-outlet>